@font-face {
    font-family: 'Russo One';
    src: url('fonts/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Berlin Sans Demi';
    src: url('fonts/BRLNSDB.TTF');
}

@font-face {
    font-family: 'Berlin Sans Bold';
    src: url('fonts/BRLNSB.TTF');
}
